<configuration>
    <property name="MAX_DEBUG_HISTORY" value="30"/>
    <appender name="Layout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="com.alex.logback.demo.layout.LoggingConsoleLayout"/>
    </appender>

    <appender name="asyncLayout" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 指定异步写入名称为 logfile 的 appender，这里最多只能添加一个 appender-ref -->
        <appender-ref ref="Layout"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="asyncLayout"/>
    </root>
</configuration>